.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}
.title {
  display: flex;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}
.imageWrapper {
  width: 500px;
  height: 500px;
}
.imageWrapper > img {
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0.9;
  object-fit: contain;
}
